@media (min-width: 280px) and (max-width: 600px) { 
body{width: 90%;font-size: 15px;padding: 0px;background: linear-gradient(#1c1c1d, #777c80);;justify-content: center;}
#constractor{background-image: none; background-repeat: none; background-size:  none;}
h2{font-size: 30px; color: white; font-weight: bold;}
h3{font-size: 20px;}
#title{padding: 0px;}
#boxes{display: block; margin-left: 50px;}
#boxOne{width: 100%;}
#boxTwo{width: 100%;}
#boxThree{width: 100%;}
#textInput{font-size: 15px; width: 140px;}
.imgCandle{width: 30px;}
.candlesBtn{font-size: 20px;}
#prayer{font-size: 25px; margin: 0px; color: white; font-weight: bold;}
#oneGif{height: 700px;top: 285px;right: 48px; width: 400px;}
#oneGifImg{width: 400px;margin-top: 310px; height: 400px;}
#oneGifTitle{font-size: 80px;}
#oneGifText{padding-top: 8px;font-size: 30px;}
#x{width: 40px;}
#xBtn{right: 350px;top: 5px;}
#twoGif{height: 700px;top: 285px;right: 48px; width: 400px;}
#twoGifImg{width: 400px;margin-top: 410px; height: 400px;}
#twoGifTitle{font-size: 80px;}
#twoGifText{padding-top: 8px;font-size:30px;}
#userText{font-size: 25px;padding-top: 40px;}
#xTwo{width: 40px;}
#xTwoBtn{right: 350px;top: 5px;}
#threeGif{height: 700px;top: 285px;right: 48px; width: 400px;}
#xBtnThree{right: 350px;top: 5px;}
#xThree{width: 40px;}
#threeGifTitle{font-size: 80px;}
#threeGifText{padding-top: 8px;font-size:30px;}
#threeGifImg{width: 405px;margin-top: -29px; height: 400px;}
}
 @media (min-width: 601px) and (max-width: 850px) { 
    body{width: 90%;font-size: 15px;padding: 0px;background: linear-gradient(110deg, #02213a6b 60%, #a3a295 60%);;justify-content: center;}
    #constractor{background-image: none; background-repeat: none; background-size:  none;}
    h2{font-size: 50px; font-weight: bold;}
    h3{font-size: 30px;}
    #title{padding: 0px;}
    #boxes{display: block; margin-left: 50px;}
    #boxOne{width: 100%;}
    #boxTwo{width: 100%;}
    #boxThree{width: 100%;}
    #textInput{font-size: 25px; width: 140px;}
    .imgCandle{width: 70px;}
    .candlesBtn{font-size: 15px;}
    #prayer{font-size: 30px; margin: 0px; font-weight: bold;}
    #oneGif{height: 1000px;top: 185px;right: 100px; width: 500px;}
    #oneGifImg{width: 500px;margin-top: 450px; height: 500px;}
    #oneGifTitle{font-size: 90px;}
    #oneGifText{padding-top: 20px;font-size: 40px;}
    #x{width: 50px;}
    #xBtn{right: 442px;top: 5px;}
    #twoGif{height: 1000px;top: 185px;right: 100px; width: 500px;}
    #twoGifImg{width: 500px;margin-top: 450px; height: 500px;}
    #twoGifTitle{font-size: 90px;}
    #twoGifText{padding-top: 8px;font-size: 40px;}
    #userText{font-size: 30px;padding-top: 40px;}
    #xTwo{width: 50px;}
    #xTwoBtn{right: 442px;top: 5px;}
    #threeGif{height: 1000px;top: 185px;right: 100px; width: 500px;}
    #xBtnThree{right: 451px;top: 5px;}
    #xThree{width: 50px;}
    #threeGifTitle{font-size: 90px;}
    #threeGifText{padding-top: 8px;font-size: 40px;}
    #threeGifImg{width: 505px;margin-top: 170px; height: 500px;}
}
